

.square {
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 5px;
     &.green-square {
         background: green;
                    }
     &.red-square {
         background: red;
     }               
}
    